// Server configuration
PORT='your-port'
MONGO_URI='your-mongodb-url'

// JWT configuration
JWT_SECRET='your-jwt-secret'
JWT_EXPIRES_IN='your-expires-in-duration'
JWT_REFRESH_EXPIRES_IN='your-refresh-expires-in-duration'

// Email configuration
EMAIL_USERNAME='your-email-username'
EMAIL_PASSWORD='your-email-password'

// Frontend URLs
FRONTEND_URL_LOCAL='your-local-frontend-url'
FRONTEND_URL_MAIN='your-main-frontend-url'
FRONTEND_TEST_URL='your-test-frontend-url'


// Rate limiting configuration
RATE_LIMIT_WINDOW_MS='your-rate-limit-window-ms'
RATE_LIMIT_MAX='your-rate-limit-max'
AUTH_RATE_LIMIT_MAX='your-auth-rate-limit-max'

// Node environment
NODE_ENV='your-node-env'
